body {
    margin: 0px;

}

#akshay {
    height: 50vh;
    width: 50vw;
    background-image: url();
}

section {
    /* margin: 0px 0px 0px 20px; */
    padding: 20px 0px;

}

.headings {
    padding-bottom: 20px;
    color: #033ea4;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

#at-about {
    padding: 0px;
}



#body-header {
    margin-top: -18px;
    padding-top: 10px;
    height: 350px;
    width: 100%;
    background-color: #0f202b;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

@media screen and (max-width:380px) {
    #body-header {
        height: 450px;
    }
}

/* @media screen and (max-width:530px) {
    #body-header {
        margin-top: -18px;
        padding-top: 10px;
        height: 450px;
        width: 100%;
        background-color: #0f202b;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
    }
} */

section:nth-child(2n) {
    background-color: rgb(235, 247, 251);
}

section:nth-child(2n+1) {
    background-color: rgb(253, 249, 236);
}

.horizontal-list {
    list-style: none;
    padding: 0px;
    text-align: center;
    font-size: larger;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 10px 10px 0px;
}


.horizontal-list li a {
    color: rgb(182, 182, 182);
    text-decoration: none;
}


.one li a:hover {
    color: rgb(168, 196, 215);
    border-bottom: 1.5px solid white;
    border-radius: 10%;
}



.links li a {
    margin-left: 10px;
}


.links li a i {
    color: rgb(156, 156, 178);
    font-size: 25px;
    border-radius: 30%;
}


.links li a i:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgb(162, 164, 164);
    transition: color 0.2s;
}


#name {
    font-size: 70px;
    color: rgb(217, 216, 216);
    font-family: sofia-pro, sans-serif !important;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

@media screen and (max-width:547px) {
    #name {
        font-size: 50px;
    }
}



#profileimg {
    text-align: center;
}


#profileimg img {
    height: 180px;
    width: 180px;
    margin-top: -90px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 2px rgb(192, 182, 161);

}

/* Skill section Start*/
body {
    margin: 0px;
}

.skills {

    margin: 0px;
    background-color: rgb(222, 246, 246);
}





.headings i {
    font-size: 26px;

}

.display-progress {
    /* height: auto; */
    /* width: 100vw; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-left: 10vw;
    margin-right: 10vw;

}

.show-progress {
    width: 150px;
    height: 30px;
    border: 1.5px solid black;
    border-radius: 20px;
    margin: 25px 40px;
    background-color: rgb(211, 214, 217);
    overflow: hidden;
    box-shadow: 0px 0px 10px 3px rgb(120, 120, 120);
}

.fillcolor-75 {
    height: inherit;
    width: 0%;
    background-color: rgba(153, 35, 35, 0.85);
    padding: 6.5px 0px 6.5px 0px;
}

.fillcolor-85 {
    height: inherit;
    width: 0%;
    background-color: rgb(223, 196, 18, 0.85);
    padding: 6.5px 0px 6.5px 0px;
}

.fillcolor-50 {
    height: inherit;
    width: 0%;
    background-color: rgb(60, 36, 121, 0.85);
    padding: 6.5px 0px 6.5px 0px;
}

.fillcolor-60 {
    height: inherit;
    width: 0%;
    background-color: hsla(137, 83%, 30%, 0.85);
    padding: 6.5px 0px 6.5px 0px;
}

.show-progress a {
    text-decoration: none;
    color: white;
    font-size: medium;
    /* font-weight: 600; */
    font-family: Arial;
}

/* Skill section End */
/* Work Experience start */


.timeline {
    position: relative;
    width: 75%;
    /* border: 1px solid black; */
    left: 12%;
    padding: 3% 0px;
}

@media screen and (min-width:701px) {
    .timeline-box {
        position: relative;
        min-height: 150px;
        height: auto;
        /* border: 1px solid crimson; */
        margin: 5px 0px;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .timeline-box:nth-child(2n+1) {
        left: 5%;
    }

    .timeline-box:nth-child(2n) {
        left: 55%;
    }

    .timeline-divider {
        position: absolute;
        width: 0;
        height: 65%;
        border: 1.5px dashed rgba(23, 156, 238, 0.731);
        top: 18%;
        left: 50%;
    }

    .timeline-box:nth-child(2n+1)::before {
        left: 111.3%;
        top: 50%;
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: #203f52c7;
        border-radius: 50%;
    }

    .timeline-box:nth-child(2n)::before {
        left: -13.8%;
        top: 50%;
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: #203f52c7;
        border-radius: 50%;
    }

}

@media screen and (max-width:700px) {
    .timeline-box {
        position: relative;
        min-height: 200px;
        height: auto;
        /* border: 1px solid crimson; */
        margin: 5px 0px;
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        left: 10%;

    }

    .timeline-box:nth-child {
        left: 10%;
    }

    .timeline-divider {
        position: absolute;
        width: 0;
        height: 71%;
        border: 1.5px dashed rgba(23, 156, 238, 0.731);
        top: 15%;
        left: -8%;
    }

    .timeline-box:nth-child(2n+1)::before {
        left: -27%;
        top: 50%;
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: #203f52c7;
        border-radius: 50%;
    }

    .timeline-box:nth-child(2n)::before {
        left: -27%;
        top: 50%;
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        background-color: #203f52c7;
        border-radius: 50%;
    }


}


.timeline-icon {
    position: sticky;
    top: 20%;
    font-size: xx-large;
    color: #033ea4ee;
    transform: rotate(90deg);
    margin-top: -35px;
}


/* Work Experience End */
/* Contact section Start */
#contact {
    background: linear-gradient(to top right, #0c2b60e0, rgb(31 0 61 / 93%) 450px);
    color: white;
}


#contact1 {
    padding: 2vw 4vw 2vw 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact2 {

    flex-shrink: 1;
    /* border: 1px solid black; */
    width: 38vw;
    min-height: 100px;

}

.contact-form-input {
    display: block;
    position: relative;
    height: 30px;
    color: rgb(255, 255, 255);
    left: 10%;
    width: 80%;
    margin: 15px 0px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: rgba(127, 255, 212, 0);
}

#form button {
    display: block;
    position: relative;
    height: auto;
    padding: 6px;
    left: 10vw;
    width: 30%;
    min-width: 80px;
    text-align: center;
    margin: 30px 0px 0px 0px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(240, 248, 255, 0);

}

.contact-address div {
    height: 40px;

    font-size: large;
}

/* Contact section End */
/* timeline box*/
.timeline-box div {
    /* border: 1px solid black; */
    height: auto;
}

.timeline-box img {
    height: 4vw;
    width: 4vw;
}

.designation {
    margin: 0;
    text-align: end;
    color: #ef7007;
    font-size: 2vw;

}

.organisation {
    margin: 0;
    text-align: end;
    color: #036ca4;
    font-size: 1.5vw;
}

.working-date {
    margin: 0;
    text-align: end;
    color: rgba(79, 78, 78, 0.888);
    font-size: 1.2vw;
}

.about-post {

    position: absolute;
    width: 100%;
    height: 150px;
    top: 5.7vw;
    text-align: justify;


}

.zero {
    margin: 0;
    padding: 0;
}